<h1>Picasso</h1>

<p><strong>Uniform Title:</strong> Gertrude Stein on Picasso</p>
<p><strong>Author:</strong> Stein, Gertrude, 1874-1946</p>

<h2>Subjects</h2>
<ul>
  <li>Picasso, Pablo, 1881-1973.</li>
</ul>

<h2>
	Publication Details
</h2>
<ul class="publication">
	<li>
		<span class="pub_title">Creator</span>
		<span class="pub_desc">by Gertrude Stein</span>
	</li>
	<li>
		<span class="pub_title">Format</span>
		<span class="pub_desc">Books</span>
	</li>
	<li>
		<span class="pub_title">Publication</span>
		<span class="pub_desc">
			London : B.T. Batsford, Ltd., [1938]
		</span>
	</li>

	<li>
		<span class="pub_title">Physical Details</span>
		<span class="pub_desc">vii, 1 unnumbered page, 55 pages, 1 unnumbered page : color frontispiece, illustrations, plates (part color) portraits (part color) ; 23 cm</span>
	</li>
	<li>
		<span class="pub_title">OCLC</span>
		<span class="pub_desc">ocm00477052</span>
	</li>
</ul>

<div class="bib-cards">
  <h2 style="font-size: 1.75em;">Data from other sources</h2>
  <section class="bib-card" data-lcnaf="n79006977"></section>
  <section class="bib-card" data-lcnaf="n78086005"></section>
</div>
