<h1>Bibcard Demo App</h1>

<ul>
	<li><%= link_to "View a single author card", author_path("n78086005") %></li>
	<li><%= link_to "View multiple author cards in a faux library catalog display", catalog_path("123") %></li>
</ul>
